<form class="form" [formGroup]="form">
  <dp-form-field label="Marketplace" [required]="true">
    <dp-select formControlName="marketplace">
      <option *ngFor="let marketplace of marketplaces" [value]="marketplace">
        {{ marketplace }}
      </option>
    </dp-select>
  </dp-form-field>

  <div class="credentials" *ngIf="form.value.marketplace === marketplaceWildberries">
    <dp-form-field label="API token" [required]="true" hint="WB seller → API access">
      <dp-input type="password" formControlName="token" autocomplete="new-password"></dp-input>
    </dp-form-field>
  </div>

  <div class="credentials" *ngIf="form.value.marketplace === marketplaceOzon">
    <dp-form-field label="Client ID" [required]="true">
      <dp-input type="text" formControlName="clientId"></dp-input>
    </dp-form-field>
    <dp-form-field label="API Key" [required]="true">
      <dp-input type="password" formControlName="apiKey" autocomplete="new-password"></dp-input>
    </dp-form-field>
  </div>

  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
</form>
