<form class="form" [formGroup]="form">
  <label>
    Маркетплейс
    <select formControlName="marketplace">
      <option *ngFor="let marketplace of marketplaces" [value]="marketplace">
        {{ marketplace }}
      </option>
    </select>
  </label>

  <div class="credentials" *ngIf="form.value.marketplace === marketplaceWildberries">
    <label>
      API токен
      <dp-input type="password" formControlName="token" autocomplete="new-password"></dp-input>
    </label>
    <div class="helper">
      Токен используется только для подключения и хранится безопасно.
    </div>
  </div>

  <div class="credentials" *ngIf="form.value.marketplace === marketplaceOzon">
    <label>
      Client ID
      <dp-input type="text" formControlName="clientId"></dp-input>
    </label>
    <label>
      API Key
      <dp-input type="password" formControlName="apiKey" autocomplete="new-password"></dp-input>
    </label>
  </div>

  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
</form>
